# Data Types and Structure Questions

1. What are data structures, and why are they important.
  - Data structures are ways to organize and store data so that it can be used efficiently. They act like containers that hold data in a specific format. They are important because the right data structure makes programs faster, easier to manage, and more memory-efficient. It helps in tasks like searching, sorting, adding, and removing data.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types are those whose value can be changed after they are created like list, sets etc.
  In list you can easily add the value with the help of append, update the value and also remove the value because list is mutable
  Immutable data types are those whose value can not be changed after they are created like tuple, string etc.
  In tuple you can not change or update the value because tuple is immutable.

3. What are the main differences between lists and tuples in Python?
  - Both lists and tuple are used to store collection of data. But lists are mutable means the value can be changed, added and removed after the list is created. While tuples are immutable means value can not be changed after tuple is created. lists are slower in comparison of tuples.

4. Describe how dictionaries store data?
  - Dictionaries stores data as key-value pairs. Each key is unique and acts like an index.

5. Why might you use a set instead of a list in Python?
  - When you need to store unique elements and do not care about the sequence or order that times you use set instead of list because set automatically remove the duplicate items.

6. What is a string in Python, and how is it different from a list?
  - String is a sequence of character and enclosed in single or double quotes. String is immutable means you can not change after created. List is a sequence or collections of elemetns which can be any type. List is mutable means you can changed the value after created

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable means once you created tuples their element cannot be changed, removed and added. This immutablity shows that the stored data remains fixed and secure.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in key-value pairs using hashing function to quickly map keys to their location. A dictionary is implemented using a hash table. when you access a value with a key, python computes the hash of the key and directly finds the location of the value. Making search, remove  and access very fast

9. Can lists contain different data types in Python?
  - Yes, list can contains different data types at the same time like interger, string, float etc

10. Explain why strings are immutable in Python?
  - String are immutable in python because once string is created, you can not be modified or changed. If you want to modification, python creates a new string instead of changing the original. This ensures security and consistency.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries provide advanathe over list when you need to quicky find, add or update tha data using a unique key. List allows fast searching and make data more organized, while list require searching through all elements which is slower.

12. Describe a scenario where using a tuple would be preferable over a list?
  - A tuple is preferable when you want to store fixed data that you do not want to change or modify in future. Tuple protect the date from being changed or modified.

13. How do sets handle duplicate values in Python?
  - To handle duplicate value we use sets. Sets automatically remove duplicated value and only give you unique value.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In a list "in" keyword checks a value exist or not. In a dictionary "in" keyword checks a key exists or not.  

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, you cannot modify elements of a tuple because tuples is immutable. Once tuple is created you cannot change, add or remove the value.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary where values themselves are dictionaries. It is usedul for storing structured date like employees details, students details etc.
  Examples:
  employees = { "EMP01": {"Name": "AA", "age": 24, "department": "IT"}}

17. Describe the time complexity of accessing elements in a dictionary?
  - Accessing elements in a dictionary is O(1) constant time because it used hashing to directly map keys to their values.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when the order of elements matters, when data is accessed by index, when duplicated value need to be stored and also you do not need key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because elements are store based on their hash value. Dictionaries are not stored in the sequence you add item. This means you can not retrieve data by indexing. Data is always retrived by key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  -  In a lost data is retrieved using an index because data stored in the sequence. In a dictionary data is retrieved using a key, key basically directly points to its value because dictionart stored the value in key-value pair.

In [1]:
# 1. Write a code to create a string with your name and print it.

name = "Aditya Sharma"
print(name)

Aditya Sharma

In [2]:
# 2. Write a code to find the length of the string "Hello World".

str1 = "Hello World"
print(len(str1))

11

In [1]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming".

str2 = "Python Programming"
print(str2[0:3])

Pyt

In [3]:
# 4. Write a code to convert the string "hello" to uppercase

str3 = "hello"
print(str3.upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

str4 = " I like apple"
str4 = str4.replace("apple","orange")
print(str4)

 I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.

list1 = [1,2,3,4,5]

print(list1)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list2 = [1,2,3,4]

list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list3 = [1,2,3,4,5]

list3.remove(3)

print(list3)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list4 = ['a','b','c','d']
print(list4[1])

b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

list5 = [10, 20, 30, 40, 50]

print(list5[::-1])

[50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple1 = (100,200,300)

print(tuple1)

(100, 200, 300)

In [16]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple2 = ('red', 'green', 'blue', 'yellow')

print(tuple2[-2])

blue

In [2]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple3 = (10,20,5,15)

print(min(tuple3))

5

In [20]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple4 = ('dog','cat','rabbit')
tuple4.index('cat')

1

In [2]:
#  15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple5 = ("Apple", "Mango", "Orange")

if "kiwi" in tuple5:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is not in the tuple

In [23]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a', 'b', 'c'}

print(set1)

{'c', 'a', 'b'}

In [26]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2 = {1,2,3,4,5}

set2.clear()

set2

set()

In [28]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set3 = {1,2,3,4}

set3.remove(4)

set3

{1, 2, 3}

In [3]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

sets_1 = {1,2,3}
sets_2 = {3,4,5}

print(sets_1 | sets_2)

{1, 2, 3, 4, 5}

In [4]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

sets_1 = {1,2,3}
sets_2 = {2,3,4}

print(sets_1 & sets_2)

{2, 3}

In [32]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1 = {"name": "Aditya", "age": 26, "city": "Delhi"}

print(dict1)

{'name': 'Aditya', 'age': 26, 'city': 'Delhi'}

In [5]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2 = {'name': 'John', 'age': 25}

dict2["country"] = "USA"

print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [6]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict1 = {'name': 'Alice', 'age': 30}

print(dict1['name'])

Alice

In [7]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del dict3["age"]

print(dict3)

{'name': 'Bob', 'city': 'New York'}

In [2]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict4 = {'name': 'Alice', 'city': 'Paris'}

if "city" in dict4:
    print("city exists in the dictionary")
else:
    print("city not exists in the dictionary")

city exists in the dictionary

In [4]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list_1 = [1,2,3,4,5,"AA", True]

tuple_1 = (1,2,3,4,5,6, "AB", False)

dict_1 = {"name": "AA", "age": 24, "city": "Delhi"}

print(list_1)
print(tuple_1)
print(dict_1)

[1, 2, 3, 4, 5, 'AA', True]
(1, 2, 3, 4, 5, 6, 'AB', False)
{'name': 'AA', 'age': 24, 'city': 'Delhi'}

In [10]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

random_list = [23,44,12,29,48]

random_list.sort()

print(random_list)

[12, 23, 29, 44, 48]

In [6]:
# 28. Write a code to create a list with strings and print the element at the third index.

list6 = ["AA", "BB", "CC", "DD", "EE"]

print(list6[3])

DD

In [9]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict_3 = {"name": "AA", "age": 24, "city": "Delhi"}
dict_4 = {"job": "data science", "skills": "Tech", "state": "New Delhi"}

dict_3.update(dict_4)

print(dict_3)

{'name': 'AA',
 'age': 24,
 'city': 'Delhi',
 'job': 'data science',
 'skills': 'Tech',
 'state': 'New Delhi'}

In [8]:
# 30. Write a code to convert a list of strings into a set.

list_8 = ["AA", "BB", "CC", "DD", "EE"]

print(set(list_8))

{'AA', 'EE', 'CC', 'DD', 'BB'}